@import "nib"

$indigo = #0d152d
$gray = #5e6675
	
h1,h2,h3
	font-family 'Advent Pro', sans-serif	

p,ul,li
	font-family 'Oxygen', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif

.row
	margin 0

.index
	background url('../img/vector1.jpg')
	background-size cover
	background-position center
	background-attachment fixed
	background-repeat no-repeat

.BarraFicticia
	height 40px
	background url('../img/header-bar.jpg')
	background-position center
	background-size cover

.BarraFicticia2
	height 40px
	background-color $gray 
	

.MainMenu
	margin 0
	background-color #fff

.Header
	height 90vh
	background url('../img/header1.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat
	&-title
		text-align center
		padding-top 30px
		color $indigo
		margin 0
	&-logo
		width 70px
		height auto
		margin-top -30px
		@media screen and (max-width: 1000px)
			height 40px
			width auto
			margin-top 0px
		
.Text-Line
	font-size 20px
	padding 0
	margin 0
	
.Data-Box
	

.Section-intro
	width 100%
	margin 0
	min-height 100vh
	vertical-align center

.Footer
	height 5vh
	background-color $indigo
	margin-top 40px
	color whitesmoke
	&-text
		line-height 5vh
		margin 0
		
.Header2
	background url('../img/header2.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat
	height 50vh
	
.Section-intro2
	margin-top 40px

.Header3
	background url('../img/header3.jpg')
	background-size cover
	background-position top
	background-repeat no-repeat
	height 80vh
	
.Header4
	background url('../img/header4.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat
	height 80vh

.inputP
	width 100%
	margin-top 20px
	height 50px
	background-color #ddd
	border none
	padding 5px